:root {
    --color-background: hsl(30, 30%, 96%);
    --task-border-width: .1rem;
    --color-red: hsl(326, 80%, 80%);
    --color-orange: hsl(22, 100%, 80%);
    --color-yellow: hsl(55, 95%, 75%);
    --color-green: hsl(86, 71%, 80%);
    --color-blue: hsl(194, 100%, 80%);
    --color-indigo: hsl(225, 100%, 80%);
    --color-purple: hsl(280, 54%, 80%);
    --color-white: hsl(60, 3%, 83%);
    --color-black: hsl(0, 0%, 45%);
    --color-text: hsl(0, 0%, 17%);
    --color-text-blight: hsl(0, 0%, 94%);
    --color-line: hsl(220, 1%, 66%);
    --color-shadow: rgb(0 0 0 / .3);
    --color-border: rgb(0 0 0 / .08);
    --color-focus: hsla(55, 100%, 46%, 0.6);
    --color-mask: rgba(255 255 255 / .7);
    --color-popup: hsl(0, 0%, 25%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: hsl(0, 0%, 17%);
        --color-red: hsl(326, 80%, 30%);
        --color-orange: hsl(22, 100%, 30%);
        --color-yellow: hsl(55, 100%, 30%);
        --color-green: hsl(86, 71%, 30%);
        --color-blue: hsl(194, 100%, 30%);
        --color-indigo: hsl(225, 100%, 30%);
        --color-purple: hsl(280, 54%, 30%);
        --color-white: hsl(60, 1%, 56%);
        --color-black: hsl(0, 0%, 28%);
        --color-text: hsl(60, 3%, 87%);
        --color-shadow: rgb(0 0 0 / .4);
        --color-border: rgb(255 255 255 / .3);
        --color-popup: hsl(0, 0%, 30%);
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: "Meiryo UI", Osaka, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: calc((1.4vw + 1.2vh) / 2);
    width: 100vw;
    height: 200vh;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: var(--color-text);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    background-color: var(--color-background);
    transition: all .5s ease;
    scroll-snap-type: y mandatory;
}

#container-main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0;
    row-gap: 0;
    scroll-snap-align: start;
}

.pane {
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: transparent;
    user-select: none;
    outline: 1px var(--color-border) solid;
    border-radius: 0;
}

.pane.task-todo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.pane.task-doing {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.pane.task-done {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.pane.kpt-keep {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.pane.kpt-problem {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.pane.kpt-try {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.pane+.pane {
    border-left: 1px var(--color-tel-cyan) solid;
}

#container-stock {
    width: 100%;
    height: 100vh;
    scroll-snap-align: end;
}

.selection-area {
    background: rgba(46, 115, 252, 0.1);
    border: 1px dotted rgba(98, 155, 255, 0.8);
    border-radius: 3px;
}

.task {
    position: absolute;
    min-height: 3.6em;
    width: 28em;
    padding: .1em .3em;
    box-shadow: 0 .2em .6em -0.3em var(--color-shadow);
    border: var(--task-border-width) solid var(--color-border);
    border-radius: .2em;
    word-wrap: break-word;
    font-size: 0.9rem;
    transition:
        top 400ms ease,
        left 400ms ease,
        background-color 150ms ease,
        color 150ms ease,
        box-shadow 100ms ease;
    user-select: none;
    color: var(--color-text);
}

.task.focused {
    box-shadow: 0 .1em .8em -0.2em var(--color-shadow),
        0 0 0 .14em var(--color-focus);
}

.task.moving {
    transition-property: none;
}

.task a:link,
.task a:visited,
.task a:active {
    color: var(--color-text);
}

.task hr {
    width: 100%;
    border-top: .1em var(--color-line) dashed;
    border-bottom: none;
    margin: .2em 0;
}

.task ul,
.task ol {
    list-style-position: inside;
}

.task ul {
    list-style-type: disc;
}

.task ul ul {
    list-style-type: circle;
    margin-left: 1em;
}

.task ol {
    list-style-type: decimal;
}

.task ol ol {
    list-style-type: lower-roman;
    margin-left: 1em;
}

.task h1 {
    font-size: 1.2em;
}

.task h2,
.task h3 {
    font-size: 1em;
}

.task pre,
.task code {
    font-family: Consolas, 'MS Gothic', monospace;
    font-size: 0.9em;
}

.task table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: .2em 0;
}

.task table th,
.task table td {
    border: .1em solid var(--color-line);
    padding: .2em;
}

.task img {
    display: inline-block;
    max-width: 100%;
}

textarea {
    width: 100%;
    resize: vertical;
    font-size: .9em;
    display: none;
    outline: none;
    background-color: var(--color-mask);
    border: none;
    border-radius: .2em;
    padding: 0 .2em;
}

textarea::placeholder {
    color: #aaa;
    font-size: .8rem;
}

textarea:focus {
    outline: none;
}

.task.editing>textarea {
    display: block;
}

.task.editing>div {
    display: none;
}

.menu {
    color: var(--color-text);
    background-color: var(--color-background);
    border-radius: .3em;
    border: 1px solid var(--color-border);
    position: absolute;
    visibility: hidden;
    box-shadow: .1em .1em .3em -.1em rgba(0, 0, 0, 0.4);
    user-select: none;
}

.menu-colors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    flex-direction: row;
    padding: .2rem;
    gap: .2em;
    flex-wrap: wrap;
}

.menu-color {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-size: 70%;
    width: 2em;
    height: 2em;
    cursor: pointer;
    transition: transform 70ms ease;
}

.menu-color:hover {
    transform: translateY(-.1em);
}

.menu.show {
    visibility: visible;
}

.menu-item {
    position: relative;
    font-size: .8em;
    list-style: none;
    padding: .2em;
    cursor: pointer;
    transition: padding 80ms ease;
    overflow: hidden;
}

.menu-item>img {
    display: inline-block;
    height: 1.5em;
    vertical-align: middle;
    margin-right: .1em;
}

.menu-item:hover {
    padding-left: .4em;
}

.key-bind {
    margin-left: .3em;
    position: relative;
    text-decoration: underline;
    font-size: 80%;
}

.key-bind::before {
    content: '(';
}

.key-bind::after {
    content: ')';
}

.red {
    background-color: var(--color-red);
    color: var(--color-text);
}

.orange {
    background-color: var(--color-orange);
    color: var(--color-text);
}

.yellow {
    background-color: var(--color-yellow);
    color: var(--color-text);
}

.green {
    background-color: var(--color-green);
    color: var(--color-text);
}

.blue {
    background-color: var(--color-blue);
    color: var(--color-text);
}

.indigo {
    background-color: var(--color-indigo);
    color: var(--color-text);
}

.purple {
    background-color: var(--color-purple);
    color: var(--color-text);
}

.white {
    background-color: var(--color-white);
    color: var(--color-text);
}

.black {
    background-color: var(--color-black);
    color: var(--color-text-blight);
}

#scroll {
    bottom: 0;
    left: 0;
    cursor: pointer;
    transition: transform .1s ease;
}

#scroll.on {
    transform: rotate3d(1, 0, 0, 180deg);
}

#license {
    top: 0;
    right: 0;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    img.app-icon {
        filter: invert(80%);
    }
}

#status {
    bottom: 0;
    right: 0;
}

.background-icon {
    position: fixed;
    user-select: none;
}

.background-icon img {
    display: block;
    max-width: 1.2em;
    max-height: 1.2em;
}

.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}

#popup {
    position: fixed;
    top: -20em;
    left: 50vw;
    transform: translateX(-50%);
    box-shadow: 0 .3em .4em 0 var(--color-shadow);
    border-radius: 10px;
    padding: 1em 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--color-popup);
    color: var(--color-text-blight);
    font-size: 0.9rem;
    cursor: wait;
    transition: top 100ms ease;
    text-align: center;
}

#popup.show {
    top: 1.2em;
}

#popup.clickable {
    cursor: pointer;
}